footer
    .wrapper
        .content__wrap
            .footer__head
                img(src="./images/foot-logo.svg", alt="Logo")

                button.footer__btn Start free trial
            
            .footer__content
                .footer__grid
                    p.footer__grid__title Product

                    ul.foot__grid__list.first__list
                        li.foot__list__item
                            a.green__link(href="#") Hire
                        li.foot__list__item
                            a.yellow__link(href="#") Create
                        li.foot__list__item
                            a.foot__item__link(href="#") Template
                        li.foot__list__item
                            a.foot__item__link(href="#") All features

                    ul.foot__grid__list
                        li.foot__list__item
                            a.foot__item__link(href="#") Pricing
                        li.foot__list__item
                            a.foot__item__link(href="#") New in Homerun ✨


                .footer__grid
                    p.footer__grid__title Learn

                    ul.foot__grid__list.first__list
                        li.foot__list__item
                            a.foot__item__link(href="#") Blog
                        li.foot__list__item
                            a.foot__item__link(href="#") Help Center

                    p.footer__grid__title Guides

                    ul.foot__grid__list
                        li.foot__list__item
                            a.foot__item__link(href="#") Remote Hiring
                        li.foot__list__item
                            a.foot__item__link(href="#") Employer Branding
                        li.foot__list__item
                            a.foot__item__link(href="#") Job Interviewing
                        li.foot__list__item
                            a.foot__item__link(href="#") Diversity & Inclusion
                        li.foot__list__item
                            a.foot__item__link(href="#") Attracting Talent
                        li.foot__list__item
                            a.foot__item__link(href="#") GDPR Hiring 


                .footer__grid
                    p.footer__grid__title About Homerun

                    ul.foot__grid__list.first__list
                        li.foot__list__item
                            a.foot__item__link(href="#") About us
                        li.foot__list__item
                            a.foot__item__link(href="#") We're hiring
                        li.foot__list__item
                            a.foot__item__link(href="#") Contact us

                    p.footer__grid__title Legal

                    ul.foot__grid__list
                        li.foot__list__item
                            a.foot__item__link(href="#") Terms
                        li.foot__list__item
                            a.foot__item__link(href="#") Privacy
                    

                .footer__grid.form__grid
                    p.footer__grid__title Art of Work newsletter

                    p.footer__grid__text Receive must-read articles and trends on company culture, hiring and work/life balance.

                    p.footer__grid__subtitle Sign up to our newsletter
                    form.footer-form
                        fieldset.footer-form__wrap
                            p.footer-form__info
                                input.footer-form__field(type="text")
                                input.footer-form__btn(type="button", value="")