header
    .wrapper
        .header__wrapper
            a(href="#")
                img.header__logo(src="./images/logo.svg", alt="Logo") 
            ul.header__list
                li.list__item
                    a(href="#") Product
                li.list__item
                    a(href="#") Templates
                li.list__item
                    a(href="#") Pricing
                li.list__item
                    a(href="#") Customers
                li.list__item
                    a(href="#") Learn
            ul.header__btns
                li.header__btn__item-first
                    button.header__btn-first Log in
                li.header__btn__item
                    button.header__btn-second Start free trial